{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="small-12 medium-4 columns">
      <img src="{{ game.picture }}">

      <br/>
      <br/>

      <i class="fi-torsos-all"></i> Players:
      {% if game.min_players == game.max_players %}
        {{ game.min_players }}
      {% elif game.max_players == 0 %}
        {{ game.min_players }}+
      {% else %}
        {{ game.min_players }} - {{ game.max_players }}
      {% endif %}

      <br/>
      <br/>

      <i class="fi-results"></i> Categories:
      <ul class="square">
        {% for c in game.categories %}
          <li><a href="{{ url_for('showGames', slug = c.slug) }}">{{ c.name }}</a></li>
        {% endfor %}
      </ul>

      Submitted by:
      <br/>
      {{ game.user.name }}
    </div>
    <div class="small-12 medium-8 columns">
      <h4>{{ game.name }}</h4>
      <p>{{ game.description }}</p>
    </div>
  </div>

{% endblock content %}

{% block footer_scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
{% endblock footer_scripts %}
