{% extends "modal.html" %}

{% block content %}

  <form action="{{ url_for('newGame') }}" method="POST">

    <div class="row">
      <div class="small-12 columns text-center">

        <h3>Create New Game</h3>
        <br/>

      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Name
          <input type="text" id="name-label" name="name">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Picture
          <input type="text" name="picture">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <label>Description
          <textarea size="250" name="description"></textarea>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 columns">
        <label>Minimum Players
          <input type="number" min="1" max="99" name="min_players" value="1">
        </label>
        <label>Maximum Players <span data-tooltip aria-haspopup="true" class="has-tip" title="Enter &quot;0&quot; for unlimited players."><i class="fi-info"></i></span>
          <input type="number" min="0" max="99" name="max_players" value="0">
        </label>
      </div>
      <div class="small-12 medium-8 columns">
        <p>Cateogires:</p>
        <div class="row">
          {% for c in categories %}
          <div class="small-6 columns">
            <input type="checkbox" name="category" value="{{ c.slug }}"> {{ c.name }} <span data-tooltip aria-haspopup="true" class="has-tip" title="{{ c.description }}"><i class="fi-info"></i></span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns text-center">
        <div class="small-12 medium-6 medium-offset-3 columns">
          <ul class="button-group radius even-2">
            <li><button type="submit" class="button small success">Create</button></li>
            <li><button type="button" class="button small alert" onclick="cancel()">Cancel</button></li>
          </div>
        </ul>
      </div>
    </div>

  </form>

{% endblock content %}
