{% extends "modal.html" %}

{% block content %}

  <script type="text/javascript" language="JavaScript">
    function checkCheckBoxes(theForm) {
      for (var i in theForm.category) {
        if (theForm.category[i].checked) {
          $('#category-error').css('display', 'none');
          return true;
        }
      }
      $('#category-error').css('display', 'block');
      return false;
    }
  </script>

  <form action="{{ url_for('newGame') }}" method="POST" data-abide onsubmit="return checkCheckBoxes(this);">

    <div class="row">
      <div class="small-12 columns text-center">

        <h3>Create New Game</h3>
        <br/>

      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">

        <fieldset>
          <legend>General Info</legend>

          <div class="name-field">
            <label>Name
              <input type="text" id="name-label" name="name" required maxlength="80">
            </label>
            <small class="error">Required!</small>
          </div>

          <div class="pic-field">
            <label>Picture URL
              <input type="url" name="picture" maxlength="80">
            </label>
            <small class="error">Invalid URL</small>
          </div>

          <div class="description-field">
            <label>Description
              <textarea size="5000" rows="10" name="description" required></textarea>
            </label>
            <small class="error">Required!</small>
          </div>

        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-3 columns">

        <fieldset>
          <legend>Players</legend>

          <div class="min-field">
            <label>Minimum Players
              <input type="number" min="1" max="99" name="min_players" value="1" required>
            </label>
            <small class="error">Required!</small>
          </div>

          <div class="max-field">
            <label>Maximum Players <span data-tooltip aria-haspopup="true" class="has-tip" title="Enter &quot;0&quot; for unlimited players."><i class="fi-info"></i></span>
              <input type="number" min="0" max="99" name="max_players" value="0" required>
            </label>
            <small class="error">Required!</small>
          </div>

        </fieldset>
      </div>

      <div class="small-12 medium-9 columns">

        <fieldset>
          <legend class="error">Categories</legend>

          <div class="row" required>
            {% for c in categories %}
            <div class="small-12 medium-6 columns">
              <label for="{{ c.slug }}">
                <input id="{{ c.slug }}" type="checkbox" name="category" value="{{ c.slug }}">
                {{ c.name }} <span data-tooltip aria-haspopup="true" class="has-tip" title="{{ c.description }}"><i class="fi-info"></i></span>
              </label>
            </div>
            {% endfor %}
          </div>

        </fieldset>
        <small id="category-error" class="error">Please select at least one category.</small>
      </div>

    </div>

    <div class="row">
      <div class="small-12 columns text-center">
        <div class="small-12 medium-6 medium-offset-3 columns">
          <ul class="button-group radius even-2">
            <li><button type="submit" class="button small success">Create</button></li>
            <li><button type="button" class="button small alert" onclick="cancel()">Cancel</button></li>
          </div>
        </ul>
      </div>
    </div>

  </form>

{% endblock content %}
