.side-nav li a:not(.button) {
    color: #008CBA;
    display: inline-block;
    margin: 0;
    padding: 0;
}

body {
  background-color: lightgray;
}

.panel {
  background-color: white;
}

.time-passed {
  color: gray;
  font-size: 0.8rem;
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}
.block-text {
  white-space: pre-wrap;
}
